<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>游泳馆后台管理</title>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i" rel="stylesheet">
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="css/resume.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">

</head>

<body id="page-top">
  <div id="app">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#check_in_out">出入馆登记</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#inquire">出入馆查询</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#user">用户管理</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#card">票卡管理</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#interests">商品管理</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#awards">商品兑换记录</a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="container-fluid p-0">

      <section class="resume-section p-3 p-lg-5 d-flex justify-content-center" id="check_in_out">
        <div class="w-100">
          <div class="resume-item">
            <el-tabs v-model="activeName" @tab-click="handleClick">
              <el-tab-pane label="入馆登记" name="first">
                <div>
                  <el-row>
                    <el-col :span="8" :offset="7">
                      <el-input placeholder="请输入手机号码" v-model="phone">
                        <el-button slot="append" v-if="waitTime == initWaitTime" @click="sendVerCode">获取验证码</el-button>
                        <el-button slot="append" v-else>{{waitTime}}</el-button>
                      </el-input>
                    </el-col>
                  </el-row>
                  <el-row>
                    <el-col :span="8" :offset="7">
                      <el-input placeholder="请输入验证码" v-model="verCode"></el-input>
                    </el-col>
                  </el-row>
                  <el-row>
                    <el-col :span="2" :offset="10">
                      <el-button type="primary" @click="check_in">入馆</el-button>
                    </el-col>
                  </el-row>
                </div>
              </el-tab-pane>
              <el-tab-pane label="出馆登记" name="second">
                <div>
                  <el-row>
                    <el-col :span="8" :offset="7">
                      <el-input placeholder="入馆时获取的验证码" v-model="verCodeCheckOut"></el-input>
                    </el-col>
                  </el-row>
                  <el-row>
                    <el-col :span="2" :offset="10">
                      <el-button type="primary" @click="check_out">出馆</el-button>
                    </el-col>
                  </el-row>
                </div>
              </el-tab-pane>
            </el-tabs>
          </div>

        </div>

      </section>

      <hr class="m-0">

      <section class="resume-section p-3 p-lg-5 d-flex justify-content-center" id="inquire">
        <div class="w-100">
          <div style="width: 800px;">
            <el-form :model="check_inquire_param" label-width="80px">
              <el-form-item label="手机号码">
                <el-input v-model="check_inquire_param.phone"></el-input>
              </el-form-item>
              <el-form-item label="验证码">
                <el-input v-model="check_inquire_param.vercode"></el-input>
              </el-form-item>
            </el-form>
          </div>
          <div>
            <el-button type="success" @click="fetchCheckTableRecords">查询</el-button>
            <el-button type="primary" @click="resetCheckTableRecords">重置</el-button>
            <el-table :data="CheckInOutTable" style="width: 100%">
              <el-table-column prop="phone" label="手机号码" width="220">
              </el-table-column>
              <el-table-column prop="verCode" label="验证码" width="220">
              </el-table-column>
              <el-table-column prop="checkFlag" label="出/入馆" width="240">
              </el-table-column>
              <el-table-column prop="checkTime" label="时间" width="240">
              </el-table-column>
            </el-table>
          </div>
          <div style="margin-top: 20px;">
            <el-pagination background layout="prev, pager, next" :total="check_inqure_total"
              @current-change="check_inquire_handleCurrentChange">
            </el-pagination>
          </div>
        </div>

      </section>

      <hr class="m-0">

      <section class="resume-section p-3 p-lg-5 d-flex justify-content-center" id="user">
        <div class="w-100">

          <div>
            <div style="width: 800px;">
              <el-form :model="user_param" label-width="80px">
                <el-form-item label="手机号码">
                  <el-input v-model="user_param.phone"></el-input>
                </el-form-item>
                <el-form-item label="姓名">
                  <el-input v-model="user_param.username"></el-input>
                </el-form-item>
              </el-form>
              <div>
                <el-button type="success" @click="fetchUserRecords">查询</el-button>
                <el-button type="primary" @click="resetUserRecords">重置</el-button>
                <el-table :data="userTable" style="width: 100%">
                  <el-table-column prop="phone" label="手机号码" width="150">
                  </el-table-column>
                  <el-table-column prop="username" label="姓名" width="150">
                  </el-table-column>
                  <el-table-column prop="gender" label="性别" width="150">
                  </el-table-column>
                  <el-table-column prop="ticket_type" label="票卡类型" width="150">
                  </el-table-column>
                  <el-table-column label="操作">
                    <template slot-scope="scope">
                      <el-button size="mini" @click="userhandleEdit(scope.$index, scope.row)">编辑</el-button>
                      <el-button size="mini" type="danger" @click="userhandleDelete(scope.$index, scope.row)">删除
                      </el-button>
                    </template>
                  </el-table-column>
                </el-table>
              </div>
              <div style="margin-top: 20px;">
                <el-pagination background layout="prev, pager, next" :total="user_total"
                  @current-change="user_handleCurrentChange">
                </el-pagination>
              </div>
              <div>
                <el-dialog title="用户信息修改" :visible.sync="userEditdialogVisible" width="30%">
                  <el-form :model="userEditForm" :ref="userEditForm" label-width="70px">
                    <el-form-item label="手机号码" prop="phone">
                      <el-input suffix-icon="el-icon-phone" v-model="userEditForm.phone"></el-input>
                    </el-form-item>
                    <el-form-item label="用户名" prop="username">
                      <el-input suffix-icon="el-icon-user" v-model="userEditForm.username"></el-input>
                    </el-form-item>
                    <el-form-item label="性别" prop="gender">
                      <el-radio suffix-icon="el-icon-gender" v-model="userEditForm.gender" label="0">男</el-input>
                        <el-radio suffix-icon="el-icon-gender" v-model="userEditForm.gender" label="1">女</el-input>
                    </el-form-item>
                    <el-form-item label="票卡类型" prop="card_type">
                      <el-select v-model="userEditForm.card_type" placeholder="请选择">
                        <el-option v-for="item in card_types" :key="item.value" :label="item.name" :value="item.value">
                        </el-option>
                      </el-select>
                    </el-form-item>
                  </el-form>
                  <span slot="footer" class="dialog-footer">
                    <el-button @click="userEditdialogVisible = false">取 消</el-button>
                    <el-button type="primary" @click="userHandleChange">确 定</el-button>
                  </span>
                </el-dialog>
              </div>
            </div>
          </div>

        </div>
      </section>

      <hr class="m-0">

      <section class="resume-section p-3 p-lg-5 d-flex justify-content-center" id="card">
        <div class="w-100">
          <div>
            <el-button type="primary" style="margin-left: 10px;" @click="">增加</el-button>
          </div>
          <div>
            <el-card class="box-card" style="width: 600px; margin: 10px;" v-for="(o,index) in 4" :key="o">
              <img src="https://avatars3.githubusercontent.com/u/33971669?s=460&v=4" class="image"
                style="width: 80px;height: 80px;">
              <span style="margin-left: 50px;">年卡</span>
              <el-button size="mini" type="danger" @click="" style="margin-left: 280px;">删除</el-button>
            </el-card>
          </div>
          <div style="margin-top: 20px;">
            <el-pagination background layout="prev, pager, next" :total="500" @current-change="">
            </el-pagination>
          </div>
        </div>
      </section>

      <hr class="m-0">

      <section class="resume-section p-3 p-lg-5 d-flex justify-content-center" id="interests">
        <div class="w-100">

        </div>
      </section>

      <hr class="m-0">

      <section class="resume-section p-3 p-lg-5 d-flex justify-content-center" id="awards">
        <div class="w-100">

        </div>
      </section>

    </div>
  </div>
</body>

<style>
  .el-row {
    margin: 15px;
  }
</style>

<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Plugin JavaScript -->
<script src="vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for this template -->
<script src="js/resume.min.js"></script>

<!-- import Vue before Element -->
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<!-- import JavaScript -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="config.js"></script>

<script>
  new Vue({
    el: '#app',
    data: function () {
      return {
        activeName: 'first',
        phone: '',
        verCode: '',
        verCodeGet: '',
        verCodeCheckOut: '',
        initWaitTime: 30,
        waitTime: 30,
        CheckInOutTable: [],
        check_inquire_param: {
          phone: '',
          vercode: ''
        },
        check_inqure_total: 500,
        user_param: {
          phone: '',
          username: ''
        },
        userTable: [],
        user_total: 500,
        userEditdialogVisible: false,
        userEditForm: {
          id: 0,
          phone: '',
          username: '',
          gender: '1',
          card_type: 0
        },
        card_types: [
          {
            name: '单次票',
            value: 0
          }, {
            name: '会员票',
            value: 1
          }
        ]
      }
    },
    methods: {
      handleClick(tab, event) {

      },
      sendVerCode: function () {
        if (this.phone == '') {
          this.$message({
            message: '请先输入手机号码',
            type: 'error'
          });
          return;
        }
        if (this.phone.length != 11) {
          this.$message({
            message: '手机号码不合法',
            type: 'error'
          });
          return;
        }

        axios.get(url + '/phoneHasRegistered?phone=' + this.phone).then(res => {
          if (res.data.status == 'failure') {
            this.$message({
              message: '手机号码未注册',
              type: 'error'
            });
            return;
          }
        })

        var that = this;
        var timeId = setInterval(function () {
          that.waitTime = that.waitTime - 1;
          if (that.waitTime == 0) {
            clearInterval(timeId);
            that.waitTime = that.initWaitTime;
          }
        }, 1000);

        axios.get(url + '/getVerCode?phone=' + this.phone).then(res => {
          console.log(res);
          this.verCodeGet = res.data.verCode;
        })
      },
      check_in: function () {
        if (this.phone == '') {
          this.$message({
            message: '手机号不能为空',
            type: 'error'
          });
          return;
        }
        if (this.verCode == '') {
          this.$message({
            message: '验证码不能为空',
            type: 'error'
          });
          return;
        }
        if (this.verCodeGet != this.verCode) {
          this.$message({
            message: '验证码错误',
            type: 'error'
          });
          return;
        }
        axios.get(url + "/checkIn?phone=" + this.phone + "&verCode=" + this.verCode).then(res => {
          console.log(res);
          if (res.data.check_status == "ok") {
            this.$message({
              message: '入馆成功',
              type: 'success'
            });
          } else if (res.data.check_status == "failure") {
            this.$message({
              message: res.data.desc,
              type: 'error'
            });
          }
        })
      },
      check_out: function () {

        if (this.verCodeCheckOut == '') {
          this.$message({
            message: '验证码不能为空',
            type: 'error'
          });
          return;
        }

        axios.get(url + '/checkOut?verCode=' + this.verCodeCheckOut).then(res => {
          if (res.data.check_status == 'ok') {
            this.$message({
              message: '出馆成功',
              type: 'success'
            });
          } else if (res.data.check_status == "failure") {
            this.$message({
              message: res.data.desc,
              type: 'error'
            });
          }
        });
      },

      fetchCheckTableRecords: function () {
        var phone = this.check_inquire_param.phone;
        var vercode = this.check_inquire_param.vercode;
        axios.get(url + '/getCheckInOutRecords?phone=' + phone + '&vercode=' + vercode + '&page=0&pageSize=8').then(res => {
          this.CheckInOutTable = res.data;
          this.CheckInOutTable.forEach(element => {
            if (element.checkFlag == 0) {
              element.checkFlag = '入馆';
            } else if (element.checkFlag == 1) {
              element.checkFlag = '出馆';
            }
            var date = new Date(element.checkTime);
            element.checkTime = date.toLocaleString();
          });
        })
      },

      resetCheckTableRecords: function () {
        this.CheckInOutTable = [];
        this.check_inquire_param.phone = '';
        this.check_inquire_param.vercode = '';
      },

      check_inquire_handleCurrentChange: function (val) {
        val = val - 1;
        var phone = this.check_inquire_param.phone;
        var vercode = this.check_inquire_param.vercode;
        axios.get(url + '/getCheckInOutRecords?phone=' + phone + '&vercode=' + vercode + '&page=' + val + '&pageSize=8').then(res => {
          this.CheckInOutTable = res.data;
          this.CheckInOutTable.forEach(element => {
            if (element.checkFlag == 0) {
              element.checkFlag = '入馆';
            } else if (element.checkFlag == 1) {
              element.checkFlag = '出馆';
            }
            var date = new Date(element.checkTime);
            element.checkTime = date.toLocaleString();
          });
        })
      },

      fetchUserRecords: function () {
        var phone = this.user_param.phone;
        var username = this.user_param.username;
        axios.get(url + '/getUsers?phone=' + phone + '&username=' + username + '&page=0&pageSize=8').then(res => {
          this.userTable = res.data;
          this.userTable.forEach(element => {
            if (element.gender == 0) {
              element.gender = '男';
            } else if (element.gender == 1) {
              element.gender = '女';
            }
            element.ticket_type = '单次票';
          });
        })
      },

      resetUserRecords: function () {
        this.userTable = [];
        this.user_param.phone = '';
        this.user_param.username = '';
      },

      user_handleCurrentChange: function (val) {
        val = val - 1;
        var phone = this.user_param.phone;
        var username = this.user_param.username;
        axios.get(url + '/getUsers?phone=' + phone + '&username=' + username + '&page=' + val + '&pageSize=8').then(res => {
          this.userTable = res.data;
          this.userTable.forEach(element => {
            if (element.gender == 0) {
              element.gender = '男';
            } else if (element.gender == 1) {
              element.gender = '女';
            }
            element.ticket_type = '单次票';
          });
        })
      },

      userhandleEdit: function (index, row) {
        this.userEditdialogVisible = true;
        this.userEditForm.id = row.id;
        this.userEditForm.phone = row.phone;
        this.userEditForm.username = row.username;
        this.userEditForm.gender = row.gender == '男' ? '0' : '1';
      },

      userhandleDelete: function (index, row) {
        this.$confirm('确认删除用户' + row.username + '?', '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }).then(() => {
          axios.get(url + '/deleteUser?id=' + row.id).then(res => {
            if (res.data.status == 'ok') {
              this.$message({
                type: 'success',
                message: '删除成功!'
              });
              var that = this;
              setTimeout(function () {
                that.fetchUserRecords();
              }, 500);
            } else {
              this.$message({
                type: 'error',
                message: '删除失败!'
              });
            }
          })

        }).catch(() => {
          this.$message({
            type: 'info',
            message: '已取消删除'
          });
        });
      },

      userHandleChange: function () {
        axios.get(url + '/changeUserInfo', {
          params: {
            id: this.userEditForm.id,
            phone: this.userEditForm.phone,
            username: this.userEditForm.username,
            gender: this.userEditForm.gender,
            ticketType: 0
          }
        }).then(res => {
          console.log(res);
          if (res.data.status == 'ok') {
            this.$message({
              message: '用户信息修改成功',
              type: 'success'
            });
          } else {
            this.$message({
              message: res.data.desc,
              type: 'error'
            });
          }
        })
        var that = this;
        setTimeout(function () {
          that.userEditdialogVisible = false;
          that.fetchUserRecords();
        }, 500);

      }

    }

  })
</script>

</html>