<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>游泳馆后台管理</title>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i" rel="stylesheet">
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="css/resume.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">

</head>

<body id="page-top">
  <div id="app">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
      <!-- <a class="navbar-brand js-scroll-trigger" href="#page-top">
      <span class="d-block d-lg-none">Clarence Taylor</span>
      <span class="d-none d-lg-block">
        <img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="img/profile.jpg" alt="">
      </span>
    </a> -->
      <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button> -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#check_in_out">出入馆登记</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#inquire">出入馆查询</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#education">用户管理</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#skills">票卡管理</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#interests">商品管理</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#awards">商品兑换记录</a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="container-fluid p-0">

      <section class="resume-section p-3 p-lg-5 d-flex justify-content-center" id="check_in_out">
        <div class="w-100">
          <div class="resume-item">
            <el-tabs v-model="activeName" @tab-click="handleClick">
              <el-tab-pane label="入馆登记" name="first">
                <div>
                  <el-row>
                    <el-col :span="8" :offset="7">
                      <el-input placeholder="请输入手机号码" v-model="phone">
                        <el-button slot="append" v-if="waitTime == initWaitTime" @click="sendVerCode">获取验证码</el-button>
                        <el-button slot="append" v-else>{{waitTime}}</el-button>
                      </el-input>
                    </el-col>
                  </el-row>
                  <el-row>
                    <el-col :span="8" :offset="7">
                      <el-input placeholder="请输入验证码" v-model="verCode"></el-input>
                    </el-col>
                  </el-row>
                  <el-row>
                    <el-col :span="2" :offset="10">
                      <el-button type="primary" @click="check_in">入馆</el-button>
                    </el-col>
                  </el-row>
                </div>
              </el-tab-pane>
              <el-tab-pane label="出馆登记" name="second">
                <div>
                  <el-row>
                    <el-col :span="8" :offset="7">
                      <el-input placeholder="入馆时获取的验证码" v-model="verCodeCheckOut"></el-input>
                    </el-col>
                  </el-row>
                  <el-row>
                    <el-col :span="2" :offset="10">
                      <el-button type="primary" @click="check_out">出馆</el-button>
                    </el-col>
                  </el-row>
                </div>
              </el-tab-pane>
            </el-tabs>
          </div>

        </div>

      </section>

      <hr class="m-0">

      <section class="resume-section p-3 p-lg-5 d-flex justify-content-center" id="inquire">
        <div class="w-100">
          <div>
            <!-- <el-input v-model="i_begin_time" placeholder="开始时间"></el-input>
            <el-input v-model="i_end_time" placeholder="结束时间"></el-input>
            <el-input v-model="i_phone" placeholder="手机号码"></el-input>
            <el-input v-model="i_flag" placeholder="出入馆"></el-input>
            <el-input v-model="i_vercode" placeholder="验证码"></el-input> -->
          </div>
          <div>
            <el-button type="primary" @click="fetchCheckTableRecords">查询</el-button>
            <el-button type="primary" @click="resetCheckTableRecords">重置</el-button>
            <el-table :data="CheckInOutTable" style="width: 100%">
              <el-table-column prop="phone" label="手机号码" width="220">
              </el-table-column>
              <el-table-column prop="vercode" label="验证码" width="220">
              </el-table-column>
              <el-table-column prop="checkInTime" label="入馆时间" width="240">
              </el-table-column>
              <el-table-column prop="checkOutTime" label="出馆时间" width="240">
              </el-table-column>
            </el-table>
          </div>

        </div>

      </section>

      <hr class="m-0">

      <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="education">
        <div class="w-100">
          <h2 class="mb-5">Education</h2>

          <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="resume-content">
              <h3 class="mb-0">University of Colorado Boulder</h3>
              <div class="subheading mb-3">Bachelor of Science</div>
              <div>Computer Science - Web Development Track</div>
              <p>GPA: 3.23</p>
            </div>
            <div class="resume-date text-md-right">
              <span class="text-primary">August 2006 - May 2010</span>
            </div>
          </div>

          <div class="resume-item d-flex flex-column flex-md-row justify-content-between">
            <div class="resume-content">
              <h3 class="mb-0">James Buchanan High School</h3>
              <div class="subheading mb-3">Technology Magnet Program</div>
              <p>GPA: 3.56</p>
            </div>
            <div class="resume-date text-md-right">
              <span class="text-primary">August 2002 - May 2006</span>
            </div>
          </div>

        </div>
      </section>

      <hr class="m-0">

      <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="skills">
        <div class="w-100">
          <h2 class="mb-5">Skills</h2>

          <div class="subheading mb-3">Programming Languages &amp; Tools</div>
          <ul class="list-inline dev-icons">
            <li class="list-inline-item">
              <i class="fab fa-html5"></i>
            </li>
            <li class="list-inline-item">
              <i class="fab fa-css3-alt"></i>
            </li>
            <li class="list-inline-item">
              <i class="fab fa-js-square"></i>
            </li>
            <li class="list-inline-item">
              <i class="fab fa-angular"></i>
            </li>
            <li class="list-inline-item">
              <i class="fab fa-react"></i>
            </li>
            <li class="list-inline-item">
              <i class="fab fa-node-js"></i>
            </li>
            <li class="list-inline-item">
              <i class="fab fa-sass"></i>
            </li>
            <li class="list-inline-item">
              <i class="fab fa-less"></i>
            </li>
            <li class="list-inline-item">
              <i class="fab fa-wordpress"></i>
            </li>
            <li class="list-inline-item">
              <i class="fab fa-gulp"></i>
            </li>
            <li class="list-inline-item">
              <i class="fab fa-grunt"></i>
            </li>
            <li class="list-inline-item">
              <i class="fab fa-npm"></i>
            </li>
          </ul>

          <div class="subheading mb-3">Workflow</div>
          <ul class="fa-ul mb-0">
            <li>
              <i class="fa-li fa fa-check"></i>
              Mobile-First, Responsive Design</li>
            <li>
              <i class="fa-li fa fa-check"></i>
              Cross Browser Testing &amp; Debugging</li>
            <li>
              <i class="fa-li fa fa-check"></i>
              Cross Functional Teams</li>
            <li>
              <i class="fa-li fa fa-check"></i>
              Agile Development &amp; Scrum</li>
          </ul>
        </div>
      </section>

      <hr class="m-0">

      <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="interests">
        <div class="w-100">
          <h2 class="mb-5">Interests</h2>
          <p>Apart from being a web developer, I enjoy most of my time being outdoors. In the winter, I am an avid skier
            and novice ice climber. During the warmer months here in Colorado, I enjoy mountain biking, free climbing,
            and
            kayaking.</p>
          <p class="mb-0">When forced indoors, I follow a number of sci-fi and fantasy genre movies and television
            shows,
            I am an aspiring chef, and I spend a large amount of my free time exploring the latest technology
            advancements
            in the front-end web development world.</p>
        </div>
      </section>

      <hr class="m-0">

      <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="awards">
        <div class="w-100">
          <h2 class="mb-5">Awards &amp; Certifications</h2>
          <ul class="fa-ul mb-0">
            <li>
              <i class="fa-li fa fa-trophy text-warning"></i>
              Google Analytics Certified Developer</li>
            <li>
              <i class="fa-li fa fa-trophy text-warning"></i>
              Mobile Web Specialist - Google Certification</li>
            <li>
              <i class="fa-li fa fa-trophy text-warning"></i>
              1<sup>st</sup>
              Place - University of Colorado Boulder - Emerging Tech Competition 2009</li>
            <li>
              <i class="fa-li fa fa-trophy text-warning"></i>
              1<sup>st</sup>
              Place - University of Colorado Boulder - Adobe Creative Jam 2008 (UI Design Category)</li>
            <li>
              <i class="fa-li fa fa-trophy text-warning"></i>
              2<sup>nd</sup>
              Place - University of Colorado Boulder - Emerging Tech Competition 2008</li>
            <li>
              <i class="fa-li fa fa-trophy text-warning"></i>
              1<sup>st</sup>
              Place - James Buchanan High School - Hackathon 2006</li>
            <li>
              <i class="fa-li fa fa-trophy text-warning"></i>
              3<sup>rd</sup>
              Place - James Buchanan High School - Hackathon 2005</li>
          </ul>
        </div>
      </section>

    </div>
  </div>
</body>

<style>
  .el-row {
    margin: 15px;
  }
</style>

<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Plugin JavaScript -->
<script src="vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for this template -->
<script src="js/resume.min.js"></script>

<!-- import Vue before Element -->
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<!-- import JavaScript -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="config.js"></script>

<script>
  new Vue({
    el: '#app',
    data: function () {
      return {
        activeName: 'first',
        phone: '',
        verCode: '',
        verCodeGet: '',
        verCodeCheckOut: '',
        initWaitTime: 30,
        waitTime: 30,
        CheckInOutTable: []
      }
    },
    methods: {
      handleClick(tab, event) {

      },
      sendVerCode: function () {
        if (this.phone == '') {
          this.$message({
            message: '请先输入手机号码',
            type: 'error'
          });
          return;
        }
        if (this.phone.length != 11) {
          this.$message({
            message: '手机号码不合法',
            type: 'error'
          });
          return;
        }

        axios.get(url + '/phoneHasRegistered?phone=' + this.phone).then(res => {
          if (res.data.status == 'failure') {
            this.$message({
              message: '手机号码未注册',
              type: 'error'
            });
            return;
          }
        })

        var that = this;
        var timeId = setInterval(function () {
          that.waitTime = that.waitTime - 1;
          if (that.waitTime == 0) {
            clearInterval(timeId);
            that.waitTime = that.initWaitTime;
          }
        }, 1000);

        axios.get(url + '/getVerCode?phone=' + this.phone).then(res => {
          console.log(res);
          this.verCodeGet = res.data.verCode;
        })
      },
      check_in: function () {
        if (this.phone == '') {
          this.$message({
            message: '手机号不能为空',
            type: 'error'
          });
          return;
        }
        if (this.verCode == '') {
          this.$message({
            message: '验证码不能为空',
            type: 'error'
          });
          return;
        }
        if (this.verCodeGet != this.verCode) {
          this.$message({
            message: '验证码错误',
            type: 'error'
          });
          return;
        }
        axios.get(url + "/checkIn?phone=" + this.phone + "&verCode=" + this.verCode).then(res => {
          console.log(res);
          if (res.data.check_status == "ok") {
            this.$message({
              message: '入馆成功',
              type: 'success'
            });
          } else if (res.data.check_status == "failure") {
            this.$message({
              message: res.data.desc,
              type: 'error'
            });
          }
        })


      },
      check_out: function () {

        if (this.verCodeCheckOut == '') {
          this.$message({
            message: '验证码不能为空',
            type: 'error'
          });
          return;
        }

        axios.get(url + '/checkOut?verCode=' + this.verCodeCheckOut).then(res => {
          console.log(res);
          if (res.data.check_status == 'ok') {
            this.$message({
              message: '出馆成功',
              type: 'success'
            });
          } else if (res.data.check_status == "failure") {
            this.$message({
              message: res.data.desc,
              type: 'error'
            });
          }
        });
      },

      fetchCheckTableRecords: function(){
        axios.get(url+'/getCheckInOutRecords?page=0&pageSize=2').then(res=>{
          this.CheckInOutTable = res.data;
          this.CheckInOutTable.forEach(element => {
              var date0 = new Date(element.checkInTime);
              element.checkInTime = date0.toLocaleString();
              var date1 = new Date(element.checkOutTime);
              element.checkOutTime = date1.toLocaleString();
          });
        })
      },

      resetCheckTableRecords: function(){
        this.CheckInOutTable = [];
      }


    }

  })
</script>

</html>