<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <title>注册</title>
</head>
<body>
    <div id="app">
        <el-row>
            <el-col :span="6" :offset="11"><h1>注册</h1></el-col>
        </el-row> 
        <div class="">
            <el-form :rules="rules" :model="form" :ref="form" :label-position="labelPosition" label-width="130px">
                <el-row>
                    <el-col :span="8" :offset="8">
                        <el-form-item label="请输入用户名" prop="username">
                                <el-input suffix-icon="el-icon-user" v-model="form.username"></el-input>
                        </el-form-item>
                    </el-col>
                </el-row>
                <el-row>
                    <el-col :span="8" :offset="8">
                        <el-form-item label="请输入手机号码" prop="phone">
                            <el-input v-model="form.phone" suffix-icon="el-icon-phone"></el-input>
                        </el-form-item>
                    </el-col>
                </el-row>
                <el-row>
                    <el-col :span="8" :offset="8">
                        <el-form-item label="请输入密码" prop="password">
                            <el-input v-model="form.password" suffix-icon="el-icon-password" show-password></el-input>
                        </el-form-item>    
                    </el-col>
                </el-row>
                <el-row>
                    <el-col :span="8" :offset="8">
                        <el-form-item label="确认密码" prop="v_password">
                            <el-input v-model="form.v_password" suffix-icon="el-icon-password" show-password></el-input>
                        </el-form-item>
                    </el-col>
                </el-row>
                <el-row>
                    <el-col :span="2" :offset="8">
                        <el-form-item label="性别" prop="gender">
                        </el-form-item>
                    </el-col>
                    <el-col :span="2" :offset="1" style="margin-top: 8px;">
                        <el-radio v-model="form.gender" label="0">男</el-radio>
                    </el-col>  
                    <el-col :span="2" style="margin-top: 8px;">
                        <el-radio v-model="form.gender" label="1">女</el-radio>
                    </el-col>
                </el-row>
                <el-row>
                    <el-col :span="2" :offset="8">
                        <el-form-item label="身份" prop="type">
                        </el-form-item>
                    </el-col>
                    <el-col :span="2" :offset="1"><el-radio v-model="form.type" label="0">普通用户</el-radio></el-col>  
                    <el-col :span="2"><el-radio v-model="form.type" label="1">管理员</el-radio></el-col>
                </el-row>
                <el-row>
                    <el-col :span="2" :offset="11">
                        <el-button type="primary" @click="ok">确认</el-button>
                    </el-col>
                </el-row> 
            </el-form>
        </div>
           
    </div>
</body>

<style>
          
</style>

<!-- import Vue before Element -->
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<!-- import JavaScript -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="../config.js"></script>

<script>
    new Vue({
        el: '#app',
        data: function() {
            return {
                form: {
                    username:'',
                    phone:'',
                    password:'',
                    v_password:'',
                    gender:'0',
                    type:'0',
                },
                labelPosition:'left',
                rules:{
                    username:[
                        { required: true, message: '用户名不能为空',trigger: 'blur' }
                    ],
                    phone:[
                        { required: true, message: '手机号码不能为空',trigger: 'blur' }
                    ],
                    password:[
                        { required: true, message: '密码不能为空',trigger: 'blur' }
                    ],
                    v_password:[
                        { required: true, message: '密码不能为空',trigger: 'blur' }
                    ],
                    gender:[
                        { required: true, message: '性别不能为空',trigger: 'blur' }
                    ],
                    type:[
                        { required: true, message: '身份不能为空',trigger: 'blur' }
                    ]
                }
            }
        },
       
        methods:{
            ok:function(){

                if(this.form.username == '' || this.form.phone == '' || this.form.password == '' || this.form.v_password == ''){
                    this.$message({
                        message: '用户信息填写有误',
                        type: 'error'
                    });
                }else{

                    axios.post(url+"/addUser",{
                        username:this.form.username,
                        phone:this.form.phone,
                        password:this.form.password,
                        gender:this.form.gender,
                        type:this.form.type,
                    }).then(res => {
                        console.log(res);
                        if(res.data == 'ok'){
                            this.$message({
                                message: '注册成功',
                                type: 'success'
                            });
                            setTimeout(function(){
                                window.location.href = '../login/login.html';
                            },1000);
                        }
                        else if(res.data == 'userExist'){
                            this.$message({
                                message: '用户已存在',
                                type: 'error'
                            });
                        }
                        else{
                            this.$message({
                                message: '注册失败',
                                type: 'error'
                            });
                        }
                    }).catch(error => {
                        console.log(error);
                        this.$message({
                                message: '注册失败',
                                type: 'error'
                        });
                    })

                    
                    
                }


                
                
            }
        }
    })
</script>
</html>